.formUp {
  width: 100%;

  padding: 126px 16px 170px 16px;
  margin: 0 auto;
  box-sizing: border-box;
}

.formUp div {
  margin-bottom: 16px;
}

.titleUp {
  color: #323f47;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.01em;
  margin-bottom: 32px;
}

.labelUp {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  color: #2f2f2f;
  display: block;
  margin-bottom: 8px;
}

.inputUp {
  border: 1px solid rgba(47, 47, 47, 0.2);
  border-radius: 15px;
  padding-right: 40px;
  padding-left: 16px;
  width: 100%;
  max-width: 100%; /* Інпут займатиме всю ширину контейнера */

  height: 50px;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: rgba(47, 47, 47, 0.6);
  box-sizing: border-box;
}

.errorText {
  color: #ef5050;
  font-weight: 400;
  font-size: 14px;
  position: absolute;
  margin-top: 2px;
}

.btnUp {
  border-radius: 30px;
  border: none;
  width: 100%;

  height: 50px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.01em;
  background: #9be1a0;
  margin: 16px 0 16px 0;
  cursor: pointer;
}

.textUp {
  font-weight: 400;
  font-size: 14px;
  color: rgba(47, 47, 47, 0.5);
  text-align: center;
}

.linkUp {
  font-weight: 700;
  color: #2f2f2f;
  cursor: pointer;
}

.iconButton {
  all: unset;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputWrapper {
  position: relative;
  align-items: center;
}

.inputError {
  border: 1px solid red; /* Червона рамка для полів з помилкою */
  background-color: #ffe6e6; /* Легкий червоний відтінок */
}

@media only screen and (min-width: 768px) {
  .formUp {
    width: 100%;
    padding: 171px 134px 227px 134px;
  }

  .titleUp {
    font-size: 36px;
    line-height: 106%;
  }
  .labelUp {
    font-size: 16px;
    line-height: 150%;
  }
  .inputUp {
    width: 100%;
    height: 56px;
    font-size: 16px;
    line-height: 150%;
  }

  .btnUp {
    width: 436px;
    height: 60px;
    font-size: 16px;
  }
  .textUp {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1440px) {
  .formUp {
    width: 100%;
    padding: 74px 118px 100px 118px;
  }
}
