.mainBox {
  border-radius: 15px;
  padding: 14px 20px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 137px;
}
.btnSetting {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  font-size: 14px;
  line-height: 1.28571;
  color: #323f47;
  border: none;
  background-color: transparent;
}
.btnLogOut {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  font-size: 14px;
  line-height: 1.28571;
  color: rgba(50, 63, 71, 0.4);
  border: none;
  background-color: transparent;
}
.iconLogOut {
  stroke: rgba(50, 63, 71, 0.4);
}
