.logo {
  color: #323f47;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  padding-left: 16px;
  padding: 24px 0 0 16px;
  font-weight: 700;
  font-size: 18px;
}

@media only screen and (min-width: 768px) {
  .logo {
    padding: 32px 0 0 32px;
    font-size: 24px;
  }
}
