.login {
  width: 343px;
  margin: auto;
  background-color: #f0eff4;
  border-radius: 30px;
  box-sizing: border-box;
}

@media (min-width: 765px) {
  .login {
    margin: 32px;
    width: 704px;
  }
}

@media (min-width: 1440px) {
  .login {
    width: 672px;
  }
}